@if (Request.IsAuthenticated) {
    <text >
     
    Hola, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-log-out text-center">Cerrar sessión</span></a>
    }
    </text>
    }
    else
    {


        <span class="glyphicon glyphicon-hand-right"> @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }) </span>
        <span>|</span>
        <span class="glyphicon glyphicon-log-in">@Html.ActionLink(" Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </span>

    }
